:root{
    --blue: rgb(4, 7, 86);
    --second:rgba(135, 50, 197, 0.203);
    --three:rgb(255, 255, 255);

}
body {
    margin: 0;
    padding: 0;
  
}

/* Style for the navbar */
.navbar {
    border-radius: 10px;
    background-color: var(--blue); /* Replace with the desired light purple color */
    text-align: center; /* Center-align text */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-size: 24px; /* Adjust font size as needed */
    color: white; /* Text color */
    padding: 10px 0; /* Add some padding for spacing */
}


#map {
    margin: 20px;
    height: 500px; /* Set the desired map height */
    /* Set the desired map width */
    border-radius: 20px;
    border: solid var(--blue) 10px ;
}

  /* CSS for the card container */
  #cardContainer {
    display: flex;
    flex-wrap: wrap;
}

  /* CSS for individual cards */
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color:var(--second);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Two columns with equal width */
    gap: 20px; /* Gap between the columns */
    max-width: 1000px; /* Optional: Set a maximum width for the grid */
    margin: 0 auto; /* Optional: Center the grid on the page */
}

.left-content {
 background-color: var(--second);
 border-radius: 20px;
 padding: 20px;


}

.right-content {
     width: auto;
}
